In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [7]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
FPATH = Path('../Data/lending_data.csv')
LEND_DF = pd.read_csv(FPATH)

# Review the DataFrame
LEND_DF.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [11]:
# Separate the data into labels and features

# Separate the y variable, the labels
Y = LEND_DF['loan_status']

# Separate the X variable, the features
X = LEND_DF.drop(columns=['loan_status'])

In [12]:
# Review the y variable Series
Y.head(11)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
Name: loan_status, dtype: int64

In [13]:
# Review the X variable DataFrame
X.head(11)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
5,10100.0,7.438,50600,0.407115,4,1,20600
6,10300.0,7.490,51100,0.412916,4,1,21100
7,8800.0,6.857,45100,0.334812,3,0,15100
8,9300.0,7.096,47400,0.367089,3,0,17400
9,9700.0,7.248,48800,0.385246,4,0,18800
10,9300.0,7.085,47300,0.365751,3,0,17300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [14]:
# Check the balance of our target values
Y.value_counts()

loan_status
0    75036
1     2500
Name: count, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [19]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

Y_train.value_counts()

loan_status
0    56304
1     1848
Name: count, dtype: int64

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [30]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
LGM = LogisticRegression(random_state=1)

# Fit the model using training data
LG_MODEL = LGM.fit(X_train, Y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [31]:
# Make a prediction using the testing data
TEST_P = LG_MODEL.predict(X_test)
print(len(TEST_P))

19384

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [28]:
# Print the balanced_accuracy score of the model
L_ACC_SCORE = balanced_accuracy_score(Y_test, TEST_P)
print(L_ACC_SCORE)

0.9508986295555389

In [29]:
# Generate a confusion matrix for the model
L_MATRIX = confusion_matrix(Y_test, TEST_P)
print(L_MATRIX)

[[18645    87]
 [   61   591]]

In [43]:
# Print the classification report for the model
L_CREPORT = classification_report(Y_test, TEST_P)
print(L_CREPORT)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18732
           1       0.87      0.91      0.89       652

    accuracy                           0.99     19384
   macro avg       0.93      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** This Logic Regression model is accurate at a reate of 99%. It predicts low-risk loans higher and high-risk loans around 80-99% averaging around 84%.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [35]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ROS = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_RES, Y_RES = ROS.fit_resample(X_train, Y_train)

In [38]:
# Count the distinct values of the resampled labels data
Y_RES.value_counts()

loan_status
0    56304
1    56304
Name: count, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [39]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
CLASS = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using the resampled training data
CLASS.fit(X_RES, Y_RES)

# Make a prediction using the testing data
PRED = CLASS.predict(X_test)
pd.DataFrame({"Prediction": PRED, "Actual": Y_test})

       Prediction  Actual
8781            0       0
75685           1       1
68710           0       0
74440           0       0
15501           0       0
...           ...     ...
33453           0       0
66467           0       0
72586           0       0
72363           0       0
60886           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [41]:
# Print the balanced_accuracy score of the model 
PRED_L_ACC_SCORE = balanced_accuracy_score(Y_test, PRED)
print(PRED_L_ACC_SCORE)

0.9944768245409253

In [42]:
# Generate a confusion matrix for the model
PRED_L_MATRIX = confusion_matrix(Y_test, PRED)
print(PRED_L_MATRIX)

[[18640    92]
 [    4   648]]

In [44]:
# Print the classification report for the model
PRED_L_CREPORT = classification_report(Y_test, PRED)
print(PRED_L_CREPORT)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18732
           1       0.88      0.99      0.93       652

    accuracy                           1.00     19384
   macro avg       0.94      0.99      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Incorporating oversampled data allows the logistic regression model to demonstrate significant improvements. The Balanced Accuracy score grows from 0.954 to an impressive 0.996.